.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35); /* Затемненный фон */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    min-width: 500px;
    width: fit-content;
    max-width: 90%;
    overflow: hidden; /* Добавляем overflow hidden */
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    outline: none;
}
/* 
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 80%;
    max-height: 80%;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
} */

.modal-content {
    position: relative;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

.top-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.add-button {
    align-self: flex-end;
    margin-bottom: 10px;
    height: 30px;
    width: 30px;
    
}

.form-container, .table-container {
    flex: 1;
    overflow-y: auto; /* Добавляем overflow для контейнеров */
    overflow-x: hidden; /* Запрещаем горизонтальную прокрутку */
}

.form-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.main-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.patient-info {
    flex: 1;
    margin-right: 20px;
}

.patient-photo {
    flex: 0 0 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.patient-photo img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

.no-photo {
    text-align: center;
    color: #888;
}

.additional-info {
    margin-top: 20px;
}