

.user_account_panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0px;
}

.user_account_panel p {
    color: #4B5672;
    font-size: 20px;
    margin: 4px;
}

.user_avatar {
    position: relative;
    width: 85px;
    height: 85px;
    /* background-color: aqua; */
}

.user_photo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    background-color: hsl(222, 11%, 55%);
}

.func_frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

/* .chat_button {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 26px;
    width: 26px;
    border-radius: 45px;
    background-color: hsl(224, 13%, 23%);
} */

.content_panel {
    background-color: #F2F5FF;
    display: flex;
    flex-direction: column;
    align-items: left;
    /* flex-wrap: wrap; */
    padding-bottom: 65px;
    
}

.table_buttons_frame {
    display: flex;
    flex-direction: row;
}

.table_button {
    background-color: #4B5672;
    color: #F2F5FF;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    padding: 0px 12px;
    margin: 0px 3px;
}

.table_frame {
    background-color: #FFF;
    margin: 10px;
    padding: 15px;
    box-shadow: 1px 4px 8px #DAE1F9;
    border-radius: 12px;
}

.data_table {
    text-align: left;
    font-size: 14px;
}

.data_table th {
    text-align: center;
    height: 30px;
}

.data_table td {
    text-align: left;
    height: 30px;
    padding: 0px 10px;
}

.card_list_frame {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 35px 0px;
    padding-bottom: 150px;
}

.buttons_panel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px 0px;
}


